<h2>Edit Document</h2>
<form action="/documents/<%= document.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
<a href="/documents">Cancel</a>
<button type="submit">Update</button>
</form>