<header>
    <nav class="header-nav">
        <a class="header-title" href="/">UJQ Document Management System</a>
        <ul>
            <li class="header-link"><a href="/authors">Authors</a></li>
            <li class="header-link"><a href="/authors/new">Add Author</a></li>
            <li class="header-link"><a href="/documents">Documents</a></li>
            <li class="header-link"><a href="/documents/new">Add Document</a></li>
        </ul>
    </nav>
</header>