<h2 class="page-header">Recently Added</h2>
<div>
    <% documents.forEach(document => { %>
        <a href="/documents/<%= document.id %>">
        <img height="150" width="100" src="<%= document.coverImagePath %>">
    </a>
    <% }) %>
</div>